:root {
    --primary-color: #EF0032;
}

@import url(../css/font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5% ;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
}

.wrapper {
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    overflow-x: hidden;

}

