:root {
    --primary-color: #EF0032;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5% ;
    list-style: none;
    text-decoration: none;
    font-family: 'MgB';

}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 480px;
    overflow-x: hidden;
}

