/* Header CSS */

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    align-items: center;
    box-shadow: 0rem 0.2rem 0.8rem rgba(0,0,0,0.25);
}

header .logo{
    height: 2rem;
}

header #menu {
    font-size: 3.5rem;
    padding: 0;
    line-height: 0;
    color: #4A4949;
}

.mobileMenu{
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out ;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

.mobileMenu.active{
    transform: translateY(0);
    opacity: 1;
}

.mobileMenu .headerMenu{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    align-items: center;
}

.mobileMenu .headerMenu .closeMenu{
    font-size: 3.5rem;
    padding: 0;
    line-height: 0;
    color: #4A4949;
}

.mobileMenu .container{
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    border-radius: 0rem 0rem 1rem 1rem;

}

.mobileMenu ul{
    box-shadow: 0rem 0.5rem 0.5rem rgba(0,0,0,0.25);
    padding: 5% 8%;
    border-radius: 0rem 0rem 1rem 1rem;

}

.mobileMenu ul a{
    color: #666666;
}

.mobileMenu ul li{
    padding: 5% 0;
    font-size: 2rem;
    border-bottom: 1px solid #8b8b8b4d;
    font-weight: bold;
}

.mobileMenu ul li:last-child{
    margin-bottom: 5%;
}

/* ---------- BANNER CSS ----------- */

.banner{
    height: calc(100vh - 5rem);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.topBanner {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, #fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff, #be0129); */
    /* border-bottom: 1px solid #be0129; */
    /* padding: 5% 0; */
}

h1{
    color: #fff;
    font-size: 3.6rem !important;
    text-transform: uppercase;
    padding: 0 2%;
    text-align: center;
    font-family: 'Rowdies', cursive !important;
    font-weight: 700;
    -webkit-text-stroke: 0.25rem var(--primary-color);
}

h1 span{
    font-size: 3.5rem !important;
    color: var(--primary-color);
    font-family: 'Rowdies', cursive;
    -webkit-text-stroke: 0;
}

.banner p{
    font-size: 1.8rem;
    color: #8B8B8B;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: justify;
    padding: 5%;
    /* margin: 2rem; */
}

.banner a{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0 4rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0,0,0,0.25);
    line-height: 6.36rem;
    max-width: 75%;
    font-weight: 700;
}

.bottomBanner{
    height: 50%;
    padding: 5% 0;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
    /* border-top: 1px solid #be0129; */
    /* background: url(../image/frameVT.png) no-repeat; */
    background-size: cover;
    
}

.imgBanner{
    width: 100%;
    height: 100%;
    background: url(../image/bannerV.png) no-repeat left bottom;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0rem;
    z-index: 2;
    
}

/* .banner img{
    max-width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    
} */


.bannerBackground {
    width: 90%;
    height: 20rem;
    background-color: rgb(251, 117, 117);
    position: absolute;
    left: -5%;
    z-index: 1;
    border-radius: 0rem 2rem 2rem 0rem;
    transform: rotate(-8deg);
    bottom: 10rem;
    opacity: 0.85;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.55);
    backdrop-filter: blur(10rem);

}

.bannerBackground::after {
    content: ' ';
    width: 110%;
    height: 20rem;
    position: absolute;
    left: -5%;
    border-radius: 0rem 2rem 2rem 0rem;
    /* transform: rotate(-8deg); */
    bottom: -5rem;
    opacity: 0.9;
    background: url(../image/frameVT.png) no-repeat;
    background-size: cover;
    z-index: 1;
    box-shadow: 1rem 0.5rem 0.5rem rgba(177, 170, 170, 0.55);
}

/* --------- CONTENT ---------- */

.products .container{
    padding: 5%;
    
}

.products .container h3{
    font-size: 2.4rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 5% 0rem;
}

.products .container h3>i{
    font-size: 2.8rem;
}

.listPro .prod {
    margin: 10% 0;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0,0,0,0.25);
}

.listPro .prod .prodContainer{
    display: flex;
    justify-content: space-between;
}

.listPro .prod .prodContainer .prodLeft{
    width: 60%;
}

.listPro .prod .proTitle{
    color: #fff;
    font-size: 2.4rem;
    background: var(--primary-color);
    padding: 2% 5%;
    border-radius: 1rem 1rem 0rem 0rem;

}

.listPro .prod .prodContainer .prodLeft .proInf{
    padding: 5%;
    text-transform: capitalize;
    width: 100%;
    
}

.listPro .prod .prodContainer .prodLeft .proInf li{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #666666;

}

.listPro .prod .prodContainer .prodLeft .proInf li:last-child{
    font-weight: 500;
    font-size: 1.4rem;
}

.listPro .prod .prodContainer .prodLeft .proInf li span{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #FF8C00;
}

.listPro .prod .prodContainer .prodRight{
    width: 40%;
}

.prodRight .proAct{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
}

.prodRight .proAct a{
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.prodRight .proAct a i{
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.prodRight .proAct button {
    border: 2px solid var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    outline: none;
    background: inherit;
    font-size: 1.8rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem ;
    color: var(--primary-color);
    text-transform: uppercase;
}

.prodRight .proAct button i{
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

/*  */

.proInfBoard{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    padding: 5%;
    opacity: 0;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.proInfBoard.active{
    transform: translateY(0);
    /* transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; */
    opacity: 1;
    bottom: 0;
    /* background-color: #928f8f48;    */
}

.proInfBoard .container{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.25);
}

.proInfBoard .container>h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    align-items: center;
    color: var(--primary-color);
}

.proInfBoard .container>h5 i{
    font-size: 4rem;

}

.proInfBoard ul li{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1%;

}

.proInfBoard ul li span{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #008000;
}

.proInfBoard ul li .sytax{
    color: #FF8C00;
    font-weight: 500;
}

.proInfBoard .viettelLink{
    font-size: 1.8rem;
}

.proInfBoard .container>a{
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    justify-content: center;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-top: 1.5rem;
}

.proInfBoard a i{
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.morePro {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
}

.morePro .bx-chevrons-right{
    font-size: 2.4rem;
    transition: all 0.5s ;
    -webkit-transition: all 0.5 ;
    animation: arrowRight 1s infinite alternate ease-in-out;
}

.morePro .bx-chevrons-left{
    font-size: 2.4rem;
    transition: all 0.5s ;
    -webkit-transition: all 0.5 ;
    animation: arrowLeft 1s infinite alternate ease-in-out;
}

@keyframes arrowRight {
    from{
        transform: translateX(-1rem);
    }
    to{
        transform: translateX(0rem);
    }
}

@keyframes arrowLeft {
    from{
        transform: translateX(1rem);
    }
    to{
        transform: translateX(0rem);
    }
}

.products hr{
    width: 90%;
    margin: 3rem auto;
}

/* ------ SERVICE --------- */

.services{
    padding: 5%;
}

.services h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.services h3>i{
    font-size: 2.8rem;
    margin-left: 0.5rem;
}

.services .listSer .container .service{
    box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.25); 
    border-radius: 1rem;
    padding: 5%;
    margin: 2.5rem 0;

}

.services .listSer .container .service .serLeft{
    display: flex;
    justify-content: center;
}

.services .listSer .container .service .serLeft img {
    height: 25rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.services .listSer .container .service .serRight h5{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    padding: 1rem 0;
}

.services .listSer .container .service .serRight p{
    font-size: 1.8rem;
    text-align: justify;
    color: #8B8B8B;
}

.services hr{
    width: 90%;
    margin: 5rem auto 3rem;
}

/* ------------- F&Q -------------- */

#acodiants{
    padding: 5.5%;
}

#acodiants h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

#acodiants h3>i{
    font-size: 2.8rem;
    margin-left: 0.5rem;
}

.acodiant {
    padding: 5%;
    box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.25);
    border-radius: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 5% 0;
}

.acodiant.active{
    border: 1px solid var(--primary-color);
}

.acodiant.active .acodianHead>i{
    transform: rotate(180deg);
}

.acodiant .acodianHead{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.acodiant .acodianHead h5{
    font-size: 2rem;
    color: #4A4949;
}

.acodiant .acodianHead>i{
    font-size: 3rem;
    padding: 0 2%;
    color: var(--primary-color);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.acodiant .acodiantContent{
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.acodiant .acodiantContent .acodiantInner{
    position: absolute;
    padding-top: 2%;

}

.acodiant .acodiantContent .acodiantInner p{
    font-size: 1.6rem;
}

.acodiant .acodiantContent .acodiantInner span{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bold;
}

.acodiant .acodiantContent .acodiantInner .note{
    font-style: italic;
    font-weight: 400;
}

.acodiant .acodiantContent .acodiantInner a{
    font-size: 1.6rem;

}

#acodiants hr{
    width: 90%;
    margin: 5rem auto;
}

/* ---------- FOOTER ------------ */

footer{
    background: #e3e1e18e;
    padding: 10% 5% 5%;
}

footer .logo{
    height: 2rem;
}

footer .infor{
    margin: 1rem 0;
}

footer .infor li{
    font-size: 1.6rem;
    color: #666666;
}

footer .qrCode{
    margin: 1.5rem 0;
}

footer .qrCode h5{
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}

footer .qrCode p{
    font-size: 1.6rem;
    color: #666666;
    margin: 1rem 0;
}

footer .qrCode a{
    font-size: 1.6rem;
    color: var(--primary-color);
}

footer .cskh h5{
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}

footer .cskh ul{
    margin: 1rem 0;
}

footer .cskh ul li{
    font-size: 1.6rem;
    color: #666666;
}

footer>p{
    font-size: 1.4rem;
    color: #8B8B8B;
    padding-top: 2%;
}

footer p>a{
    font-size: 1.4rem;
}

/* --------- LOADER --------- */

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
}

.loader.hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: " ";
    width: 3.5rem;
    height: 3.5rem;
    border: 1rem solid #ccccccb4;
    border-top: 1rem solid var(--primary-color);
    border-radius: 50%;
    animation: loader 1s ease infinite;
    -webkit-animation: loader 1s ease infinite ;
}

@keyframes loader{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}